@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.ola {
  background-color: #16171a;
  width: 100%;
  height: 87px;
  position: fixed; 
  z-index: 1;
  border-top: 1px solid #0b0c0d
  #4c4e51
}

